@import url("https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap");

body {
  font-family: "Stack Sans Text", sans-serif;

  min-height: 100dvh;
  position: relative;
}

.content,
nav > div {
  margin: auto;
  max-width: 1200px;
}

.content {
  padding: 48px 24px;
}

/* 
nav > ul {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 0;
}

nav li {
  list-style-type: none;
  margin-left: 24px;
}

.site-content {
  padding: 48px 24px;
}

footer {
  width: 100%;
  padding: 12px 24px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: pink;
  text-align: center;
}

form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

form input,
textarea {
  margin-bottom: 1.5rem;
  height: 5rem;
  border: 1px solid grey;
  border-radius: 0.5rem;
  font-family: "Stack Sans Text", sans-serif;
}

form input {
  height: 2rem;
  padding: auto 0.5rem;
}

form button {
  border: none;
  border-radius: 0.5rem;
  max-width: max-content;
  background-color: brown;
  color: white;
  padding: 0.75rem 1rem;
} */
