<nav class="py-4 px-6 bg-amber-300">
    <div class="flex justify-between ">
        <h3 class="">Blog Site</h3>
        <ul class="flex gap-x-6">
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </div>
</nav>